{% extends 'base.html.twig' %}

{% block title %}FAQs{% endblock %}

{% block body %}
<h1 class = "text-center bg bg-danger text-white p-3 fw-bold">Rent-A-JDM!</h1>
    <div class = "container p-4">
        <h1 class="border-bottom border-dark pb-4">{{'Frequently Asked Questions'|trans}}</h1>

        <div class="faq mt-5">
            <div class="faq-item my-5">
                <h2>{{'What are the payment options'|trans}} ?</h2>
                <p>{{'We accept Visa, MasterCard, and PayPal for payments'|trans}}.</p>
            </div>

            <div class="faq-item my-5">
                <h2>{{'How can I cancel a reservation'|trans}} ?</h2>
                <p>{{'You can cancel your reservation by logging into your account and following the cancellation process'|trans}}.</p>
            </div>

            <div class="faq-item my-5">
                <h2>{{'What is the refund policy'|trans}} ?</h2>
                <p>{{'Our refund policy allows for full refunds within 30 days of booking, subject to certain conditions'|trans}}.</p>
            </div>

            <div class="faq-item my-5">
                <h2>{{'Can I change my reservation dates'|trans}} ?</h2>
                <p>{{'Yes, you can modify your reservation dates by accessing your account and following the change date process'|trans}}.</p>
            </div>

            <div class "faq-item my-5">
                <h2>{{'Do you offer insurance for rentals'|trans}} ?</h2>
                <p>{{'Yes, we provide rental insurance options to protect your reservation. You can find more details in the insurance section of your account'|trans}}.</p>
            </div>

        </div>
    </div>
{% endblock %}

