{% extends 'base.html.twig' %}

{% block title %}Liste des voitures {% endblock %}

{% block body %}
<div class="container my-4">
    <a href="{{path ('car_create')}}" class="btn btn-success float-end">Ajouter</a>
{% if make is defined%}
    <h2>Liste de voitures {{make.name}}</h2>
{% else %}
    <h2>Liste de voitures</h2>
{% endif %}
    <table class="table table-hover mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Marque</th>
                <th scope="col">Modele</th>
                <th scope="col">Couleur</th>
                <th scope="col">Année</th>
                <th scope="col">Moteur</th>
                <th scope="col">Puissance</th>
                <th scope="col">Image</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <th scope="row">{{car.id}}</th>
                <td>{{car.make.name}}</td>
                <td>{{car.model}}</td>
                <td>{{car.color}}</td>
                <td>{{car.year}}</td>
                <td>{{car.engine}}</td>
                <td>{{car.hp}}</td>
                <td>{{car.image}}</td>
                <td class="text-end">
                    <a href="{{path ('car_read', {id: car.id})}}" class="btn btn-sm btn-primary">
                        <i class="bi bi-eyeglasses"></i>
                    </a>
                    <a href="{{path ('car_update', {id: car.id})}}" class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-trash"></i>
                        </button>
                        <div class="dropdown-menu">
                            <p class="">...tu es sûr?</p>
                            <a class="dropdown-item" href="{{path ('car_delete', {id: car.id})}}" data-toggle="dropdown">YES!</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-12 p-4 d-flex flex-column position-static bg-light">
        {% if make is defined%}
           <a href="{{ path('make_read', {'make': make}) }}" class="btn btn-danger">Retour</a>
        {% else %}
            <a href="{{ path('main') }}" class="btn btn-danger">Retour</a>
        {% endif %}
        
    </div>
</div>
{% endblock %}
