{% extends 'base-back.html.twig' %}

{% block title %}{{'Event list'|trans}}{% endblock %}

{% block body %}
<div class="container bg-lighttt pt-5">

    <div class="row mb-2">

        <div class="col">
        {% if event is defined %}
            <h1>{{'Edit event'|trans}}</h1>
        {% else %}
            <h1>{{'Add event'|trans}}</h1>
        {% endif %}

            {{ form_start(eventForm) }}
            
            {{ form_row(eventForm.name) }}

            {{ form_row(eventForm.image) }}

            {{ form_row(eventForm.car) }}

        {% if event is defined %}
            <button class="btn btn-success m-2">{{'Edit'|trans}}</button>
        {% else %}
            <button class="btn btn-success m-2">{{'Add'|trans}}</button>
        {% endif %}
            {{ form_end(eventForm) }}
            <a href="{{path ('back_event_list')}}"><button class="btn btn-danger m-2">{{'Back'|trans}}</button></a>
        </div>
    </div>
</div>
{% endblock %}
