{% extends 'base-back.html.twig' %}

{% block title %}Rent-A-JDM{% endblock %}

{% block body %}
<h1 class = "text-center bg bg-danger text-white p-3 fw-bold">Rent-A-JDM!</h1>
<div class="container my-4">
    <h2 class = "text-center fw-bold m-5">{{'Welcome to'|trans}} Rent-a-jdm Backoffice!</h2>
    <div class = "row">
        <div class = "col">

            <h2 class = "text-center fw-bold mt-5">{{'Makes'|trans}}</h2>
            <a href="{{path ('back_make_list')}}" class="btn btn-sm btn-secondary">
                <img src = "https://images.unsplash.com/photo-1693314515348-ce21281e8520?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2676&q=80" class="img-fluid">
            </a>
        </div>
        <div class = "col">

            <h2 class = "text-center fw-bold mt-5">{{'Cars'|trans}}</h2>
            <a href="{{path ('back_car_list')}}" class="btn btn-sm btn-secondary">
                <img src = "https://images.unsplash.com/photo-1613243700855-53ae46fd281e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80" class="img-fluid">
            </a>
        </div>
        <div class = "col">
            <h2 class = "text-center fw-bold mt-5">{{'Events'|trans}}</h2>
            <a href="{{path ('back_event_list')}}" class="btn btn-sm btn-secondary">
                <img src="https://images.unsplash.com/photo-1465495976277-4387d4b0b4c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80" class="img-fluid">
            </a>

        </div>
    </div>

</div>
{% endblock %}
