{% extends 'base.html.twig' %}

{% block title %}Rent-A-JDM{% endblock %}

{% block body %}
<div class="container my-4">
    <h2 class = "text-center fw-bold m-5">{{car.make.name}} {{car.model}} {{car.chassis}}</h2>

    <section class = "brands mt-5">
        <h2>{{'Select your Event'|trans}}!</h2>
        <p>{{'Here is the list of events available for the selected car'|trans}}.</p>
    </section>
    <div class = "row">
        <tbody>
        {% for event in events %}
            <div class = "col-4 mt-4">
                <h3>{{event.name|trans}}</h3>
                <a href="{{path ('event_car_list', {id: event.id})}}"><img class = "col-12" src = "{{event.image}}"></img></a>
            </div>
        {% endfor %}
        </tbody>
        <a href="{{ path('cars') }}" class="btn btn-danger mt-4">{{'Back'|trans}}</a>
    </div>
    </div>
{% endblock %}