{% extends 'base-back.html.twig' %}

{% block title %}{{'Car list'|trans}}{% endblock %}

{% block body %}
<div class="container my-4">
    <a href="{{path ('back_car_create')}}" class="btn btn-success float-end">{{'Add car'|trans}}</a>
{% if make is defined%}
    <h2>{{make.name}} {{'cars'|trans}}</h2>
{% else %}
    <h2>{{'Car list'|trans}}</h2>
{% endif %}
    <table class="table table-hover mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{'Make'|trans}}</th>
                <th scope="col">{{'Model'|trans}}</th>
                <th scope="col">{{'Color'|trans}}</th>
                <th scope="col">{{'Year'|trans}}</th>
                <th scope="col">{{'Engine'|trans}}</th>
                <th scope="col">{{'Horsepower'|trans}}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <th scope="row">{{car.id}}</th>
                <td>{{car.make.name}}</td>
                <td>{{car.model}}</td>
                <td>{{car.color}}</td>
                <td>{{car.year}}</td>
                <td>{{car.engine}}</td>
                <td>{{car.horsepower}}</td>
                <td class="text-end">
                    <a href="{{path ('back_car_read', {id: car.id})}}" class="btn btn-sm btn-primary">
                        <i class="bi bi-eyeglasses"></i>
                    </a>
                    <a href="{{path ('back_car_update', {id: car.id})}}" class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bi bi-trash"></i>
                        </button>
                        <div class="dropdown-menu bg-dark text-white">
                            <p class="ps-3">{{'you sure'|trans}} ?!</p>
                            <a class="dropdown-item bg-danger" href="{{path ('back_car_delete', {id: car.id})}}" data-toggle="dropdown">{{'YES'|trans}} !</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-12 p-4 d-flex flex-column position-static bg-light">
        {% if make is defined%}
           <a href="{{ path('back_make_read', {'make': make}) }}" class="btn btn-danger">{{'Back'|trans}}</a>
        {% else %}
            <a href="{{ path('back_main') }}" class="btn btn-danger">{{'Back'|trans}}</a>
        {% endif %}
        
    </div>
</div>
{% endblock %}
